.progress_container {
    display: flex;
    flex-direction: column;
}

.nav_wrapper {
    background-color: blueviolet;
}

.progress_wrapper {
    padding: 20px 85px;
    display: flex;
}

.progress_left {
    flex: 6;
    width: 100%;
}

.progress_right {
    flex: 6;
    width: 100%;
}

.title_progress {
    font-size: 26px;
}

.progress_report_row {
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(202, 202, 202);
}

.progressess_time{
    font-size: 17px;
}

.progress_report_row_left {
    padding: 20px 0px;
    display: flex;
    justify-content: start;
    border-bottom: 1px solid rgb(202, 202, 202);
}

.progressess{
    font-size: 20px;
}

.index{
    font-size: 18px;
    margin-right: 10px;
}

.bold{
    font-size: 20px;
    text-transform: uppercase;
}

.booking_row{
    display: flex;
    gap: 10px;
}

.progress_report_row_top{
    margin-bottom: 5px;
    padding-bottom: 20px;
    display: flex;
    border-bottom: 1px solid rgb(221, 221, 221);
}

.progress_wrap {
    height: 390px;
    background-color: aliceblue;
    overflow-y: auto;
}

.progress_report {
    box-shadow: 0px 1px 3px 3px rgb(235, 235, 235);
    border-radius: 10px;
    padding: 20px;
}