.banner {
    padding: 10px 85px;
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.banner-title-box{
    display: flex;
    flex-direction: column;
}

.banner-title {
    font-size: 45px;
    font-weight: 900;
}


.banner-title-sub {
    font-size: 20px;
    font-weight: 400;
}

.banner-button{
    padding: 15px;
    width: 20%;
    border-radius: 10px;
    border: none;
    color: blue;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
}