.footer {
    padding: 30px 90px;
    display: flex;
    background-color: #394234;
    color: #fff;
}

.footer-left{
    flex: 6;
    gap: 20px;
    display: flex;
    flex-direction: column;
}

.footer-right{
    flex: 6;
    display: flex;
}

.footer-title{
    font-size: 29px;
}

.gap{
    margin-top: 60px;
}

.footer-right-col{
    flex: 6;
    display: flex;
    flex-direction: column;
   justify-content: center;
   gap: 20px;
}