.signin_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.sigin_button{
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 10px;
    font-size: 17px;
    color: #fff;
    cursor: pointer;
    background-color: rgb(3, 167, 167);
}

.mindmate {
    display: flex;
    font-size: 28px;
    font-weight: 500;
}

.signin {
    display: flex;
    color: rgb(94, 94, 94);
    font-size: 22px;
}

.vertical-line {
    width: 1px;
    /* Adjust the width as needed */
    height: 100%;
    /* Adjust the height as needed */
    background-color: black;
    /* Adjust the color as needed */
    margin: 0 auto;
    /* Center the line horizontally */
}


.signin_row_col {
    display: flex;
    flex: 6;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 3px rgb(219, 219, 219);
    padding: 30px;
}

.signin_row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
}